@import "components/main";
@import "components/variables";
@import "components/cards";
@import "components/nav";

/* ==========================================================================
   Media Queries
   ========================================================================== */

// TODO - This is the break point from HTML 5 boilerplate. How can we turn this into a variable and also make sure that it tracks what's in main.css?

@media only screen and (min-width: 480px) {

  header {
    h1 {
      margin: $nav-title-margin;
    }
  }

  nav {
    width: $nav-width;

    a {
      width: $nav-item-width;
      padding: $nav-item-padding;
      margin: $nav-item-margin;
    }
  }
}

body {
  font-family: $sans-serif;
  font-size: 16px;
  line-height: 26px;
}
