//
// GENERAL CARD STYLING
//

.card-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  background-color: $card-background-color;
  height: $card-height;
  margin: $card-margin;
  padding: 0;
  width: $card-width;
  box-shadow: $card-box-shadow;
  &:hover {
  	transition: all 200ms ease-in;
  	transform: scale(1.2);
  }
  border-radius: 2px;
}

dl {
	margin-top: 0;
}

.card_title {
	padding: 0;
	&.learning {
		background-color: $learning-color;
	}
	&.html {
		background-color: $html-color;
	}
	&.css {
		background-color: $css-color;
	}
	&.javascript {
		background-color: $javascript-color;
	}
	&.tools {
		background-color: $tools-color;
	}
}

dt {
	font-family: $serif;
	text-align: center;
	padding: 5px;
	color: white;
}

dd {
	font-family: $sans-serif;
	margin: 0;
	padding: 10px;
}

.card_action-bar {
	right: 0;
	padding: 0;
	border-top: 1px solid #E0E0E0;
}

.card_action-bar_button {
	width: $card-width;
	outline-style: none;
	position: relative;
	display: inline-block;
	&.learning {
		color: $learning-color;
	}
	&.html {
		color: $html-color;
	}
	&.css {
		color: $css-color;
	}
	&.javascript {
		color: $javascript-color;
	}
	&.tools {
		color: $tools-color;
	}
}

button {
	border: none;
	background: transparent;
}


//
// LEARNING CARDS
//

.learning-card {

}

.learning-card_def {
	background-color: white;
}

//
//HTML CARDS
//

.html-card {

}

.html-card_def {
	background-color: white;
}

//
// CSS/SASS CARDS
//

.css-card {

}

.css-card_def {
	background-color: white;
}

//
// JAVASCRIPT
//

.javascript-card {

}

.javascript-card_def {
	background-color: white;
}

//
// TOOLS CARDS
//

.tools-card {
	
}

.tools-card_def {
	background-color: white;
}

//$card-title-font:
//$card-title-color
//$card-banner-color:

//cards need:
//summary...
//description
//actions (reveal description)

// glossary card:
// change to form to add new glossary or tip or info

//hover state for shadow / focus (card size gets bigger when hovered on)