//
// CARD STYLING
//

.card {
  background-color: $card-background-color;
  //border: $card-border;
  height: $card-height;
  margin: $card-margin;
  padding: $card-padding;
  width: $card-width;
}
.card-container {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.learning-card {
	background-color: $learning-color;
	border-radius: 2px;
}

dl {
	margin-top: 0;
}

.learning-card_title {
	background-color: lighten($learning-color, 20%);
	dt {
		font-family: $sans-serif;
		text-align: center;
	}
}

.learning-card_def {
	dd {
	font-family: $serif;
	margin: 0;
	padding: 5px;
	}
}

//$card-title-font:
//$card-title-color
//$card-banner-color:

//cards need:
//summary...
//description
//actions (reveal description)

// glossary card:
// change to form to add new glossary or tip or info

//hover state for shadow / focus (card size gets bigger when hovered on)