//
//NAV STYLING
//

.main-nav_links {
	font-family: $serif;
	font-size: 1.2em;
}

.learning {
	a {
		background-color: $learning-color;
	}
}

.html {
	a {
		background-color: $html-color;
	}
}

.css {
	a {
		background-color: $css-color;
	}
}

.javascript {
	a {
		background-color: $javascript-color;
	}
}

.tools {
	a {
		background-color: $tools-color;
	}
}