//
//NAV STYLING
//

.main-nav_links {
	font-family: $serif;
	font-size: 1.4em;
}

.learning_nav {
	a {
		background-color: $learning-color;
	}
}

.html_nav {
	a {
		background-color: $html-color;
	}
}

.css_nav {
	a {
		background-color: $css-color;
	}
}

.javascript_nav {
	a {
		background-color: $javascript-color;
	}
}

.tools_nav {
	a {
		background-color: $tools-color;
	}
}