$card-background-color: #abc;
$card-border: 1px solid black;
$card-width: 10rem;
$card-height: 10rem;
$card-margin: 1rem 1rem 1rem 0;
$card-padding: 5px;
//$card-title-font:
//$card-title-color
//$card-banner-color:

//cards need:
//summary...
//description
//actions (reveal description)

$menu-items: 6;
$nav-item-margin: 0 1rem 0 0;
$nav-item-padding: .5rem;
$nav-margin: 0 0 0 1rem;
$nav-title-margin: 0.5rem 0.5rem 0.5rem 0;
$nav-width: 100%;
$nav-item-width: $nav-width / $menu-items;