//
// FONTS
//

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700|Roboto+Slab:400,300|Roboto+Condensed:400italic,400);
$serif: "Roboto Slab", serif;
$sans-serif: "Roboto", sans-serif;
$display: "Roboto Condensed", sans-serif;

// @import url(https://fonts.googleapis.com/css?family=Montserrat:400,700|Domine:400,700);
// $serif: "Domine", serif;
// $sans-serif: "Montserrat", sans-serif;

//
// COLORS
//

$learning-color: #88A825;
$html-color: #55245E;
$css-color: #911146;
$javascript-color: #CF4A30;
$tools-color: #ED8C2B;

//
//CARD VARIABLES
//

$card-background-color: white;
$card-border: 1px solid gray;
$card-width: 11rem;
$card-height: 13rem;
$card-margin: 1rem 1rem 1rem 0;
$card-padding: 5px;
$card-box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3), 0 17px 17px 0 rgba(0, 0, 0, 0.15);

//
//NAV VARIABLES
//
$menu-items: 6;
$nav-item-margin: 0 1rem 0 0;
$nav-item-padding: .5rem;
$nav-margin: 0 0 0 1rem;
$nav-title-margin: 0.5rem 0.5rem 0.5rem 0;
$nav-width: 100%;
$nav-item-width: $nav-width / $menu-items;